body {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
}

.jumbotron {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(../img/black-background.png);
    background-repeat: none;
    background-size: 100% 120%;
    color: #FFF;
    height: 100vh;
}

#landing-page-heading h1 {
    font-size: 700%;
    text-decoration: underline;
}

#landing-page-heading p {
    font-size: 150%;
}

#landing-page-nav a {
    color: #FFF;
    font-weight: 500;
}

#landing-page-nav a:hover {
    text-decoration: underline;
}

#index-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../img/header-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    color: floralwhite;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
}

#index-header h1 {
    font-size: 700%;
    text-decoration: underline;
    font-weight: 800;
}

#index-header p {
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 400;
}

/* About page */
main {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

#about-message {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

#about-img {
    width: 50%;
    margin: 5%;
}

#about-img img {
    padding-top: 15%;
    width: 100%;
    height: 100%;
}

/* Howto page */

#instruction-txt {
    width: 50%;
    align-items: right;
    display: flex;
    flex-direction: column;
    margin: 10%;
}

#instruction-img {
    width: 50%;
    display: flex;
}

#instruction-img img {
    padding: 25% 15% 25% 0;
    width: 100%;
    height: 100%;
}

/* contact page */

#contact-heading {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10%;
    text-align: center;
}

#contact-info {
    width: 50%;
    align-items: right;
    display: flex;
    margin: 10%;
    justify-content: center;
    flex-direction: column;
}